In [1]:
%config IPCompleter.greedy=True

In [2]:
# libraries
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import MinMaxScaler

# Data Reading

In [3]:
# Reading the Demogreaphic Data and Credit Bureau Data
demog = pd.read_csv("Demographic data.csv")
CreditB=pd.read_csv("Credit Bureau data.csv")

In [4]:
demog.head()

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,No of months in current company,Performance Tag
0,954457215,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,56,0.0
1,432830445,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,46,0.0
2,941387308,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,49,0.0
3,392161677,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,53,0.0
4,182011211,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,43,0.0

In [5]:
CreditB.head()

,Application ID,No of times 90 DPD or worse in last 6 months,No of times 60 DPD or worse in last 6 months,No of times 30 DPD or worse in last 6 months,No of times 90 DPD or worse in last 12 months,No of times 60 DPD or worse in last 12 months,No of times 30 DPD or worse in last 12 months,Avgas CC Utilization in last 12 months,No of trades opened in last 6 months,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag
0,954457215,0,0,0,0,0,0,4.0,1.0,2,0,0,0,0,1.0,2999395.0,4,0,0.0
1,432830445,0,0,0,0,0,0,3.0,1.0,2,0,0,0,0,0.0,3078.0,5,0,0.0
2,941387308,0,0,0,0,0,0,7.0,0.0,0,0,0,0,0,1.0,3004972.0,2,0,0.0
3,392161677,0,0,0,0,0,0,11.0,1.0,1,0,0,0,0,1.0,3355373.0,4,1,0.0
4,182011211,0,0,0,0,0,0,12.0,0.0,1,0,0,0,0,1.0,3014283.0,4,0,0.0

In [6]:
demog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71295 entries, 0 to 71294
Data columns (total 12 columns):
Application ID                                 71295 non-null int64
Age                                            71295 non-null int64
Gender                                         71293 non-null object
Marital Status (at the time of application)    71289 non-null object
No of dependents                               71292 non-null float64
Income                                         71295 non-null float64
Education                                      71176 non-null object
Profession                                     71281 non-null object
Type of residence                              71287 non-null object
No of months in current residence              71295 non-null int64
No of months in current company                71295 non-null int64
Performance Tag                                69870 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 6.5+ MB

In [7]:
CreditB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71295 entries, 0 to 71294
Data columns (total 19 columns):
Application ID                                                     71295 non-null int64
No of times 90 DPD or worse in last 6 months                       71295 non-null int64
No of times 60 DPD or worse in last 6 months                       71295 non-null int64
No of times 30 DPD or worse in last 6 months                       71295 non-null int64
No of times 90 DPD or worse in last 12 months                      71295 non-null int64
No of times 60 DPD or worse in last 12 months                      71295 non-null int64
No of times 30 DPD or worse in last 12 months                      71295 non-null int64
Avgas CC Utilization in last 12 months                             70237 non-null float64
No of trades opened in last 6 months                               71294 non-null float64
No of trades opened in last 12 months                              71295 non-null int64
No of PL trades opened in last 6 months                            71295 non-null int64
No of PL trades opened in last 12 months                           71295 non-null int64
No of Inquiries in last 6 months (excluding home & auto loans)     71295 non-null int64
No of Inquiries in last 12 months (excluding home & auto loans)    71295 non-null int64
Presence of open home loan                                         71023 non-null float64
Outstanding Balance                                                71023 non-null float64
Total No of Trades                                                 71295 non-null int64
Presence of open auto loan                                         71295 non-null int64
Performance Tag                                                    69870 non-null float64
dtypes: float64(5), int64(14)
memory usage: 10.3 MB

# Data Quality Checks

### NULL Checks

In [8]:
round((demog.isnull().sum(axis=0)/demog.shape[0])*100,3).sort_values(ascending=False)

Performance Tag                                1.999
Education                                      0.167
Profession                                     0.020
Type of residence                              0.011
Marital Status (at the time of application)    0.008
No of dependents                               0.004
Gender                                         0.003
No of months in current company                0.000
No of months in current residence              0.000
Income                                         0.000
Age                                            0.000
Application ID                                 0.000
dtype: float64

In [9]:
round((CreditB.isnull().sum(axis=0)/CreditB.shape[0])*100,3).sort_values(ascending=False)

Performance Tag                                                    1.999
Avgas CC Utilization in last 12 months                             1.484
Outstanding Balance                                                0.382
Presence of open home loan                                         0.382
No of trades opened in last 6 months                               0.001
No of times 90 DPD or worse in last 6 months                       0.000
No of times 60 DPD or worse in last 6 months                       0.000
No of times 30 DPD or worse in last 6 months                       0.000
No of times 90 DPD or worse in last 12 months                      0.000
No of times 60 DPD or worse in last 12 months                      0.000
No of times 30 DPD or worse in last 12 months                      0.000
No of trades opened in last 12 months                              0.000
Presence of open auto loan                                         0.000
No of PL trades opened in last 6 months                            0.000
No of PL trades opened in last 12 months                           0.000
No of Inquiries in last 6 months (excluding home & auto loans)     0.000
No of Inquiries in last 12 months (excluding home & auto loans)    0.000
Total No of Trades                                                 0.000
Application ID                                                     0.000
dtype: float64

# Data Correction

In [10]:
demog['Performance Tag'].unique()

array([  0.,   1.,  nan])

### Performance tag 
All rows with null values needs to be discarded as imputing the decision field is not recommended

In [11]:
demog2=demog[~np.isnan(demog['Performance Tag'])]
CreditB2=CreditB[~np.isnan(CreditB['Performance Tag'])]

### Demographic Data - Other variables having nulls

In [12]:
demog2.shape

(69870, 12)

In [13]:
demog2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69870 entries, 0 to 71294
Data columns (total 12 columns):
Application ID                                 69870 non-null int64
Age                                            69870 non-null int64
Gender                                         69868 non-null object
Marital Status (at the time of application)    69864 non-null object
No of dependents                               69867 non-null float64
Income                                         69870 non-null float64
Education                                      69752 non-null object
Profession                                     69857 non-null object
Type of residence                              69862 non-null object
No of months in current residence              69870 non-null int64
No of months in current company                69870 non-null int64
Performance Tag                                69870 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 6.9+ MB

In [14]:
Cols=['Education','Profession ','Type of residence','Marital Status (at the time of application)','No of dependents','Gender']
for x in Cols:
    print(demog2.pivot_table(values='Application ID',index=x,aggfunc='count').sort_values(by='Application ID',ascending=False))

              Application ID
Education
Professional           24386
Masters                23481
Bachelor               17302
Phd                     4464
Others                   119
             Application ID
Profession
SAL                   39674
SE_PROF               16256
SE                    13927
                     Application ID
Type of residence
Rented                        52280
Owned                         14003
Living with Parents            1778
Company provided               1603
Others                          198
                                             Application ID
Marital Status (at the time of application)
Married                                               59547
Single                                                10317
                  Application ID
No of dependents
3.0                        15645
1.0                        15218
2.0                        15128
4.0                        12000
5.0                        11876
        Application ID
Gender
M                53362
F                16506

### Imputing all null values for individual columns

In [15]:
demog2['Education'].fillna('Others',inplace=True)
demog2['Profession '].fillna('SAL',inplace=True)
demog2['Type of residence'].fillna('Others',inplace=True)
demog2['Marital Status (at the time of application)'].fillna('Married',inplace=True)
demog2['No of dependents'].fillna(0.0,inplace=True)
demog2['Gender'].fillna('M',inplace=True)

In [16]:
CreditB2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69870 entries, 0 to 71294
Data columns (total 19 columns):
Application ID                                                     69870 non-null int64
No of times 90 DPD or worse in last 6 months                       69870 non-null int64
No of times 60 DPD or worse in last 6 months                       69870 non-null int64
No of times 30 DPD or worse in last 6 months                       69870 non-null int64
No of times 90 DPD or worse in last 12 months                      69870 non-null int64
No of times 60 DPD or worse in last 12 months                      69870 non-null int64
No of times 30 DPD or worse in last 12 months                      69870 non-null int64
Avgas CC Utilization in last 12 months                             68847 non-null float64
No of trades opened in last 6 months                               69869 non-null float64
No of trades opened in last 12 months                              69870 non-null int64
No of PL trades opened in last 6 months                            69870 non-null int64
No of PL trades opened in last 12 months                           69870 non-null int64
No of Inquiries in last 6 months (excluding home & auto loans)     69870 non-null int64
No of Inquiries in last 12 months (excluding home & auto loans)    69870 non-null int64
Presence of open home loan                                         69598 non-null float64
Outstanding Balance                                                69598 non-null float64
Total No of Trades                                                 69870 non-null int64
Presence of open auto loan                                         69870 non-null int64
Performance Tag                                                    69870 non-null float64
dtypes: float64(5), int64(14)
memory usage: 10.7 MB

### Credit Bureau Data - Other variables

In [17]:
Cols=['Avgas CC Utilization in last 12 months','No of trades opened in last 6 months','Presence of open home loan','Outstanding Balance']
for x in Cols:
    print((CreditB2.pivot_table(values='Application ID',index=x,aggfunc='count').sort_values(by='Application ID',ascending=False)).head())

                                        Application ID
Avgas CC Utilization in last 12 months
8.0                                               3485
9.0                                               3482
7.0                                               3384
10.0                                              3217
113.0                                             3133
                                      Application ID
No of trades opened in last 6 months
1.0                                            20122
0.0                                            12194
2.0                                            12117
3.0                                             9403
4.0                                             6297
                            Application ID
Presence of open home loan
0.0                                  51527
1.0                                  18071
                     Application ID
Outstanding Balance
0.0                             809
2773.0                            6
4295.0                            6
3528.0                            6
2595.0                            6

In [18]:
CreditB2['Avgas CC Utilization in last 12 months'].fillna(0,inplace=True)
CreditB2['Presence of open home loan'].fillna(0,inplace=True)
CreditB2['Outstanding Balance'].fillna(0.0,inplace=True)
CreditB2['No of trades opened in last 6 months'].fillna(0.0,inplace=True)

# Data Quality

In [19]:
demog2[['Income','Age']].describe()

             Income           Age
count  69870.000000  69870.000000
mean      27.408451     44.995578
std       15.476003      9.930036
min       -0.500000     -3.000000
25%       14.000000     37.000000
50%       27.000000     45.000000
75%       40.000000     53.000000
max       60.000000     65.000000

- Dropping all Age values with zero or negative values 
- Dropping all Income values with negative values

In [20]:
demog3=demog2[demog2.Income >= 0]
demog3=demog3[demog3.Age > 0]

In [21]:
demog3[['Income','Age']].describe()

             Income           Age
count  69769.000000  69769.000000
mean      27.439078     45.012986
std       15.455420      9.899989
min        0.000000     15.000000
25%       14.000000     38.000000
50%       27.000000     45.000000
75%       40.000000     53.000000
max       60.000000     65.000000

In [22]:
demog3['Performance Tag'].value_counts()[1]/demog3['Performance Tag'].count()

0.042225056973727589

#### There is class imbalance

# Create Master file

In [23]:
#Joining the 2 datasets on Application ID column
Master=pd.merge(demog3,CreditB2,how='inner',on='Application ID')

In [24]:
Master.columns

Index(['Application ID', 'Age', 'Gender',
       'Marital Status (at the time of application)', 'No of dependents',
       'Income', 'Education', 'Profession ', 'Type of residence',
       'No of months in current residence', 'No of months in current company',
       'Performance Tag_x', 'No of times 90 DPD or worse in last 6 months',
       'No of times 60 DPD or worse in last 6 months',
       'No of times 30 DPD or worse in last 6 months',
       'No of times 90 DPD or worse in last 12 months',
       'No of times 60 DPD or worse in last 12 months',
       'No of times 30 DPD or worse in last 12 months',
       'Avgas CC Utilization in last 12 months',
       'No of trades opened in last 6 months',
       'No of trades opened in last 12 months',
       'No of PL trades opened in last 6 months',
       'No of PL trades opened in last 12 months',
       'No of Inquiries in last 6 months (excluding home & auto loans)',
       'No of Inquiries in last 12 months (excluding home & auto loans)',
       'Presence of open home loan', 'Outstanding Balance',
       'Total No of Trades', 'Presence of open auto loan',
       'Performance Tag_y'],
      dtype='object')

In [25]:
Master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69775 entries, 0 to 69774
Data columns (total 30 columns):
Application ID                                                     69775 non-null int64
Age                                                                69775 non-null int64
Gender                                                             69775 non-null object
Marital Status (at the time of application)                        69775 non-null object
No of dependents                                                   69775 non-null float64
Income                                                             69775 non-null float64
Education                                                          69775 non-null object
Profession                                                         69775 non-null object
Type of residence                                                  69775 non-null object
No of months in current residence                                  69775 non-null int64
No of months in current company                                    69775 non-null int64
Performance Tag_x                                                  69775 non-null float64
No of times 90 DPD or worse in last 6 months                       69775 non-null int64
No of times 60 DPD or worse in last 6 months                       69775 non-null int64
No of times 30 DPD or worse in last 6 months                       69775 non-null int64
No of times 90 DPD or worse in last 12 months                      69775 non-null int64
No of times 60 DPD or worse in last 12 months                      69775 non-null int64
No of times 30 DPD or worse in last 12 months                      69775 non-null int64
Avgas CC Utilization in last 12 months                             69775 non-null float64
No of trades opened in last 6 months                               69775 non-null float64
No of trades opened in last 12 months                              69775 non-null int64
No of PL trades opened in last 6 months                            69775 non-null int64
No of PL trades opened in last 12 months                           69775 non-null int64
No of Inquiries in last 6 months (excluding home & auto loans)     69775 non-null int64
No of Inquiries in last 12 months (excluding home & auto loans)    69775 non-null int64
Presence of open home loan                                         69775 non-null float64
Outstanding Balance                                                69775 non-null float64
Total No of Trades                                                 69775 non-null int64
Presence of open auto loan                                         69775 non-null int64
Performance Tag_y                                                  69775 non-null float64
dtypes: float64(8), int64(17), object(5)
memory usage: 16.5+ MB

### Check for App IDs with dissimilar Performance Tags

In [26]:
for index, row in Master.iterrows():
    if row['Performance Tag_x']!=row['Performance Tag_y']:
        print(row['Application ID'])

653287861
653287861

In [27]:
Master.loc[Master['Application ID']==653287861]

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,...,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag_y
5162,653287861,26,M,Married,3.0,25.0,Bachelor,SAL,Rented,112,...,0,0,0,0,0,0.0,10494.0,2,0,0.0
5163,653287861,26,M,Married,3.0,25.0,Bachelor,SAL,Rented,112,...,5,1,3,1,3,0.0,628075.0,6,0,1.0
5164,653287861,40,M,Married,5.0,32.0,Phd,SE,Rented,45,...,0,0,0,0,0,0.0,10494.0,2,0,0.0
5165,653287861,40,M,Married,5.0,32.0,Phd,SE,Rented,45,...,5,1,3,1,3,0.0,628075.0,6,0,1.0

In [28]:
Master['Application ID'].nunique()

69766

### As we can see the Master file has some APP IDs that are duplicate but has different demographic data. We are discarding the same

In [29]:
Master2=Master.drop_duplicates('Application ID', keep=False)

In [30]:
Master2['Application ID'].nunique()

69763

In [31]:
Master2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69763 entries, 0 to 69774
Data columns (total 30 columns):
Application ID                                                     69763 non-null int64
Age                                                                69763 non-null int64
Gender                                                             69763 non-null object
Marital Status (at the time of application)                        69763 non-null object
No of dependents                                                   69763 non-null float64
Income                                                             69763 non-null float64
Education                                                          69763 non-null object
Profession                                                         69763 non-null object
Type of residence                                                  69763 non-null object
No of months in current residence                                  69763 non-null int64
No of months in current company                                    69763 non-null int64
Performance Tag_x                                                  69763 non-null float64
No of times 90 DPD or worse in last 6 months                       69763 non-null int64
No of times 60 DPD or worse in last 6 months                       69763 non-null int64
No of times 30 DPD or worse in last 6 months                       69763 non-null int64
No of times 90 DPD or worse in last 12 months                      69763 non-null int64
No of times 60 DPD or worse in last 12 months                      69763 non-null int64
No of times 30 DPD or worse in last 12 months                      69763 non-null int64
Avgas CC Utilization in last 12 months                             69763 non-null float64
No of trades opened in last 6 months                               69763 non-null float64
No of trades opened in last 12 months                              69763 non-null int64
No of PL trades opened in last 6 months                            69763 non-null int64
No of PL trades opened in last 12 months                           69763 non-null int64
No of Inquiries in last 6 months (excluding home & auto loans)     69763 non-null int64
No of Inquiries in last 12 months (excluding home & auto loans)    69763 non-null int64
Presence of open home loan                                         69763 non-null float64
Outstanding Balance                                                69763 non-null float64
Total No of Trades                                                 69763 non-null int64
Presence of open auto loan                                         69763 non-null int64
Performance Tag_y                                                  69763 non-null float64
dtypes: float64(8), int64(17), object(5)
memory usage: 16.5+ MB

#### fraction of columns that are dropped ~2%

In [32]:
(demog.shape[0]-Master2.shape[0])/demog.shape[0]

0.02148818290202679

#### Since no APP IDs has conflicting Performance we are discarding one of the columns

In [33]:
Master2.drop(['Performance Tag_y'],axis=1,inplace=True)
Master2.rename(columns={'Performance Tag_x':'Performance Tag'}, inplace=True)

In [34]:
Master2.columns

Index(['Application ID', 'Age', 'Gender',
       'Marital Status (at the time of application)', 'No of dependents',
       'Income', 'Education', 'Profession ', 'Type of residence',
       'No of months in current residence', 'No of months in current company',
       'Performance Tag', 'No of times 90 DPD or worse in last 6 months',
       'No of times 60 DPD or worse in last 6 months',
       'No of times 30 DPD or worse in last 6 months',
       'No of times 90 DPD or worse in last 12 months',
       'No of times 60 DPD or worse in last 12 months',
       'No of times 30 DPD or worse in last 12 months',
       'Avgas CC Utilization in last 12 months',
       'No of trades opened in last 6 months',
       'No of trades opened in last 12 months',
       'No of PL trades opened in last 6 months',
       'No of PL trades opened in last 12 months',
       'No of Inquiries in last 6 months (excluding home & auto loans)',
       'No of Inquiries in last 12 months (excluding home & auto loans)',
       'Presence of open home loan', 'Outstanding Balance',
       'Total No of Trades', 'Presence of open auto loan'],
      dtype='object')

# WOE and IV

In [34]:
# The below piece of code is available in the following link:
#https://www.listendata.com/2015/03/weight-of-evidence-woe-and-information.html
def iv_woe(data, target, bins=10, show_woe=False):
    
    #Empty Dataframe
    newDF,woeDF = pd.DataFrame(), pd.DataFrame()
    
    #Extract Column Names
    cols = data.columns
    
    #Run WOE and IV on all the independent variables
    for ivars in cols[~cols.isin([target])]:
        if (data[ivars].dtype.kind in 'bifc') and (len(np.unique(data[ivars]))>bins):
            binned_x = pd.qcut(data[ivars], bins,  duplicates='drop')
            d0 = pd.DataFrame({'x': binned_x, 'y': data[target]})
        else:
            d0 = pd.DataFrame({'x': data[ivars], 'y': data[target]})
        d = d0.groupby("x", as_index=False).agg({"y": ["count", "sum"]})
        d.columns = ['Cutoff', 'N', 'Events']
        d['% of Events'] = np.maximum(d['Events'], 0.5) / d['Events'].sum()
        d['Non-Events'] = d['N'] - d['Events']
        d['% of Non-Events'] = np.maximum(d['Non-Events'], 0.5) / d['Non-Events'].sum()
        d['WoE'] = np.log(d['% of Events']/d['% of Non-Events'])
        d['IV'] = d['WoE'] * (d['% of Events'] - d['% of Non-Events'])
        d.insert(loc=0, column='Variable', value=ivars)
        #print("Information value of " + ivars + " is " + str(round(d['IV'].sum(),6)))
        temp =pd.DataFrame({"Variable" : [ivars], "IV" : [d['IV'].sum()]}, columns = ["Variable", "IV"])
        newDF=pd.concat([newDF,temp], axis=0)
        woeDF=pd.concat([woeDF,d], axis=0)

        #Show WOE Table
        if show_woe == True:
            print(d)
    return newDF, woeDF

In [35]:
iv, woe = iv_woe(data = Master2, target = 'Performance Tag', bins=10, show_woe = False)

#### If the IV statistic is:
- Less than 0.02, then the predictor is not useful for modeling (separating the Goods from the Bads)
- 0.02 to 0.1, then the predictor has only a weak relationship to the Goods/Bads odds ratio
- 0.1 to 0.3, then the predictor has a medium strength relationship to the Goods/Bads odds ratio
- 0.3 to 0.5, then the predictor has a strong relationship to the Goods/Bads odds ratio.
- 0.5 and above, suspicious relationship (Check once)

In [36]:
iv.sort_values(by='IV',ascending=False)

                                            Variable        IV
0             Avgas CC Utilization in last 12 months  0.300281
0              No of trades opened in last 12 months  0.293918
0           No of PL trades opened in last 12 months  0.258691
0  No of Inquiries in last 12 months (excluding h...  0.245409
0       No of times 30 DPD or worse in last 6 months  0.244441
0                                Outstanding Balance  0.244290
0                                 Total No of Trades  0.232626
0            No of PL trades opened in last 6 months  0.224271
0      No of times 30 DPD or worse in last 12 months  0.218727
0      No of times 90 DPD or worse in last 12 months  0.215753
0       No of times 60 DPD or worse in last 6 months  0.211406
0      No of times 60 DPD or worse in last 12 months  0.188302
0               No of trades opened in last 6 months  0.187311
0       No of times 90 DPD or worse in last 6 months  0.162729
0  No of Inquiries in last 6 months (excluding ho...  0.113387
0                  No of months in current residence  0.070853
0                                             Income  0.043322
0                    No of months in current company  0.022735
0                         Presence of open home loan  0.016693
0                                                Age  0.004229
0                                   No of dependents  0.002891
0                                        Profession   0.002172
0                         Presence of open auto loan  0.001628
0                                     Application ID  0.001505
0                                  Type of residence  0.001049
0                                          Education  0.000550
0                                             Gender  0.000338
0        Marital Status (at the time of application)  0.000099

In [37]:
woe

,Variable,Cutoff,N,Events,% of Events,Non-Events,% of Non-Events,WoE,IV
0,Application ID,"(100449.999, 99506603.6]",6977,292.0,0.099151,6685.0,0.100048,-0.009004,8.074676e-06
1,Application ID,"(99506603.6, 199471249.0]",6976,276.0,0.093718,6700.0,0.100272,-0.067598,4.430535e-04
2,Application ID,"(199471249.0, 298567754.0]",6976,305.0,0.103565,6671.0,0.099838,0.036650,1.365960e-04
3,Application ID,"(298567754.0, 399402964.2]",6976,294.0,0.099830,6682.0,0.100003,-0.001729,2.987526e-07
4,Application ID,"(399402964.2, 498054998.0]",6977,312.0,0.105942,6665.0,0.099749,0.060242,3.731189e-04
5,Application ID,"(498054998.0, 599124185.2]",6976,281.0,0.095416,6695.0,0.100198,-0.048898,2.338098e-04
6,Application ID,"(599124185.2, 699936287.0]",6976,297.0,0.100849,6679.0,0.099958,0.008872,7.903432e-06
7,Application ID,"(699936287.0, 798889532.0]",6976,305.0,0.103565,6671.0,0.099838,0.036650,1.365960e-04
8,Application ID,"(798889532.0, 899554966.6]",6976,284.0,0.096435,6692.0,0.100153,-0.037830,1.406531e-04
9,Application ID,"(899554966.6, 1000084142.0]",6977,299.0,0.101528,6678.0,0.099943,0.015733,2.493569e-05
0,Age,"(14.999, 31.0]",7240,302.0,0.102547,6938.0,0.103834,-0.012478,1.606692e-05
1,Age,"(31.0, 36.0]",7848,341.0,0.115789,7507.0,0.112350,0.030155,1.037183e-04
2,Age,"(36.0, 39.0]",7139,320.0,0.108659,6819.0,0.102053,0.062717,4.142683e-04
3,Age,"(39.0, 42.0]",6992,309.0,0.104924,6683.0,0.100018,0.047883,2.348953e-04
4,Age,"(42.0, 45.0]",6868,278.0,0.094397,6590.0,0.098626,-0.043824,1.853237e-04
5,Age,"(45.0, 48.0]",6864,299.0,0.101528,6565.0,0.098252,0.032799,1.074526e-04
6,Age,"(48.0, 51.0]",6787,267.0,0.090662,6520.0,0.097578,-0.073517,5.084720e-04
7,Age,"(51.0, 54.0]",6780,247.0,0.083871,6533.0,0.097773,-0.153370,2.132156e-03
8,Age,"(54.0, 58.0]",6403,290.0,0.098472,6113.0,0.091487,0.073572,5.138734e-04
9,Age,"(58.0, 65.0]",6842,292.0,0.099151,6550.0,0.098027,0.011397,1.280615e-05
0,Gender,F,16484,718.0,0.243803,15766.0,0.235954,0.032722,2.568263e-04
1,Gender,M,53279,2227.0,0.756197,51052.0,0.764046,-0.010326,8.104260e-05
0,Marital Status (at the time of application),Married,59459,2500.0,0.848896,56959.0,0.852450,-0.004177,1.484402e-05
1,Marital Status (at the time of application),Single,10304,445.0,0.151104,9859.0,0.147550,0.023798,8.456610e-05
0,No of dependents,0,2,0.0,0.000170,2.0,0.000030,1.735569,2.427146e-04
1,No of dependents,1,15197,667.0,0.226486,14530.0,0.217456,0.040683,3.673345e-04
2,No of dependents,2,15104,588.0,0.199660,14516.0,0.217247,-0.084416,1.484577e-03
3,No of dependents,3,15620,695.0,0.235993,14925.0,0.223368,0.054983,6.941692e-04
4,No of dependents,4,11981,494.0,0.167742,11487.0,0.171915,-0.024572,1.025346e-04
5,No of dependents,5,11859,501.0,0.170119,11358.0,0.169984,0.000792,1.067127e-07
...,...,...,...,...,...,...,...,...,...
2,No of Inquiries in last 12 months (excluding h...,"(2.0, 3.0]",8972,443.0,0.150424,8529.0,0.127645,0.164206,3.740483e-03
3,No of Inquiries in last 12 months (excluding h...,"(3.0, 4.0]",7110,380.0,0.129032,6730.0,0.100721,0.247705,7.012737e-03
4,No of Inquiries in last 12 months (excluding h...,"(4.0, 5.0]",4925,362.0,0.122920,4563.0,0.068290,0.587772,3.211013e-02
5,No of Inquiries in last 12 months (excluding h...,"(5.0, 6.0]",3611,247.0,0.083871,3364.0,0.050346,0.510366,1.711015e-02
6,No of Inquiries in last 12 months (excluding h...,"(6.0, 9.0]",7112,421.0,0.142954,6691.0,0.100138,0.355978,1.524172e-02
7,No of Inquiries in last 12 months (excluding h...,"(9.0, 20.0]",5733,250.0,0.084890,5483.0,0.082059,0.033917,9.601601e-05
0,Presence of open home loan,0,51739,2338.0,0.793888,49401.0,0.739337,0.071189,3.883442e-03
1,Presence of open home loan,1,18024,607.0,0.206112,17417.0,0.260663,-0.234810,1.280915e-02
0,Outstanding Balance,"(-0.001, 6522.2]",6977,142.0,0.048217,6835.0,0.102293,-0.752121,4.067130e-02
1,Outstanding Balance,"(6522.2, 23460.6]",6976,120.0,0.040747,6856.0,0.102607,-0.923524,5.712925e-02
2,Outstanding Balance,"(23460.6, 383631.2]",6976,251.0,0.085229,6725.0,0.100647,-0.166271,2.563448e-03
3,Outstanding Balance,"(383631.2, 583646.2]",6976,380.0,0.129032,6596.0,0.098716,0.267816,8.119210e-03
4,Outstanding Balance,"(583646.2, 772705.0]",6977,445.0,0.151104,6532.0,0.097758,0.435470,2.323033e-02
5,Outstanding Balance,"(772705.0, 970704.2]",6976,449.0,0.152462,6527.0,0.097683,0.445184,2.438652e-02
6,Outstanding Balance,"(970704.2, 1355021.2]",6976,427.0,0.144992,6549.0,0.098013,0.391580,1.839604e-02
7,Outstanding Balance,"(1355021.2, 2960454.8]",6976,210.0,0.071307,6766.0,0.101260,-0.350694,1.050428e-02
8,Outstanding Balance,"(2960454.8, 3279662.8]",6976,130.0,0.044143,6846.0,0.102457,-0.842022,4.910233e-02
9,Outstanding Balance,"(3279662.8, 5218801.0]",6977,391.0,0.132767,6586.0,0.098566,0.297870,1.018749e-02
0,Total No of Trades,"(-0.001, 2.0]",10641,191.0,0.064856,10450.0,0.156395,-0.880220,8.057473e-02
1,Total No of Trades,"(2.0, 3.0]",8588,183.0,0.062139,8405.0,0.125789,-0.705232,4.488820e-02
2,Total No of Trades,"(3.0, 4.0]",7473,205.0,0.069610,7268.0,0.108773,-0.446363,1.748116e-02
3,Total No of Trades,"(4.0, 5.0]",5709,230.0,0.078098,5479.0,0.081999,-0.048735,1.900851e-04
4,Total No of Trades,"(5.0, 6.0]",4965,237.0,0.080475,4728.0,0.070759,0.128666,1.250122e-03
5,Total No of Trades,"(6.0, 7.0]",4826,270.0,0.091681,4556.0,0.068185,0.296085,6.956701e-03
6,Total No of Trades,"(7.0, 9.0]",8432,578.0,0.196265,7854.0,0.117543,0.512659,4.035740e-02
7,Total No of Trades,"(9.0, 11.0]",5728,384.0,0.130390,5344.0,0.079978,0.488777,2.464022e-02
8,Total No of Trades,"(11.0, 20.0]",6583,397.0,0.134805,6186.0,0.092580,0.375756,1.586626e-02
9,Total No of Trades,"(20.0, 44.0]",6818,270.0,0.091681,6548.0,0.097998,-0.066629,4.208793e-04
0,Presence of open auto loan,0,63845,2726.0,0.925637,61119.0,0.914709,0.011876,1.297843e-04
1,Presence of open auto loan,1,5918,219.0,0.074363,5699.0,0.085291,-0.137111,1.498353e-03

In [38]:
woeVals=woe[['Variable','Cutoff','WoE']].copy()
woeVals=woeVals[woeVals.Variable!='Application ID']
woeVals.head()

  Variable          Cutoff       WoE
0      Age  (14.999, 31.0] -0.012478
1      Age    (31.0, 36.0]  0.030155
2      Age    (36.0, 39.0]  0.062717
3      Age    (39.0, 42.0]  0.047883
4      Age    (42.0, 45.0] -0.043824

In [39]:
woeVals['Variable'].unique()

array(['Age', 'Gender', 'Marital Status (at the time of application)',
       'No of dependents', 'Income', 'Education', 'Profession ',
       'Type of residence', 'No of months in current residence',
       'No of months in current company',
       'No of times 90 DPD or worse in last 6 months',
       'No of times 60 DPD or worse in last 6 months',
       'No of times 30 DPD or worse in last 6 months',
       'No of times 90 DPD or worse in last 12 months',
       'No of times 60 DPD or worse in last 12 months',
       'No of times 30 DPD or worse in last 12 months',
       'Avgas CC Utilization in last 12 months',
       'No of trades opened in last 6 months',
       'No of trades opened in last 12 months',
       'No of PL trades opened in last 6 months',
       'No of PL trades opened in last 12 months',
       'No of Inquiries in last 6 months (excluding home & auto loans)',
       'No of Inquiries in last 12 months (excluding home & auto loans)',
       'Presence of open home loan', 'Outstanding Balance',
       'Total No of Trades', 'Presence of open auto loan'], dtype=object)

In [40]:
def UV_extract(x):
    try:
        x=str(x)
        x=x.replace("]","")
        UV=x.split(',')[1]
        return UV
    except:
        return x
woeVals['UpperValue']=woeVals['Cutoff'].apply(UV_extract )
woeVals.head(15)

,Variable,Cutoff,WoE,UpperValue
0,Age,"(14.999, 31.0]",-0.012478,31.0
1,Age,"(31.0, 36.0]",0.030155,36.0
2,Age,"(36.0, 39.0]",0.062717,39.0
3,Age,"(39.0, 42.0]",0.047883,42.0
4,Age,"(42.0, 45.0]",-0.043824,45.0
5,Age,"(45.0, 48.0]",0.032799,48.0
6,Age,"(48.0, 51.0]",-0.073517,51.0
7,Age,"(51.0, 54.0]",-0.153370,54.0
8,Age,"(54.0, 58.0]",0.073572,58.0
9,Age,"(58.0, 65.0]",0.011397,65.0
0,Gender,F,0.032722,F
1,Gender,M,-0.010326,M
0,Marital Status (at the time of application),Married,-0.004177,Married
1,Marital Status (at the time of application),Single,0.023798,Single
0,No of dependents,0,1.735569,0.0

In [41]:
woeVals_analysis=woeVals.pivot_table(values='WoE',columns='Variable',aggfunc='count')

In [55]:
woeVals[woeVals['Variable']=='No of PL trades opened in last 6 months']

                                  Variable Cutoff       WoE UpperValue
0  No of PL trades opened in last 6 months      0 -0.650056          0
1  No of PL trades opened in last 6 months      1  0.198827          1
2  No of PL trades opened in last 6 months      2  0.438184          2
3  No of PL trades opened in last 6 months      3  0.423172          3
4  No of PL trades opened in last 6 months      4  0.352134          4
5  No of PL trades opened in last 6 months      5  0.044167          5
6  No of PL trades opened in last 6 months      6 -0.461655          6

## Transforming values based on WOE data

In [42]:
Master_WOE=Master2.copy()

In [43]:
Master_WOE.head(10)

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,...,No of trades opened in last 6 months,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan
0,954457215,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,...,1.0,2,0,0,0,0,1.0,2999395.0,4,0
1,432830445,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,...,1.0,2,0,0,0,0,0.0,3078.0,5,0
2,941387308,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,...,0.0,0,0,0,0,0,1.0,3004972.0,2,0
3,392161677,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,...,1.0,1,0,0,0,0,1.0,3355373.0,4,1
4,182011211,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,...,0.0,1,0,0,0,0,1.0,3014283.0,4,0
5,312196805,20,M,Married,1.0,39.0,Bachelor,SAL,Others,116,...,0.0,0,0,0,0,0,0.0,2569.0,1,0
6,532217204,42,M,Married,2.0,55.0,Professional,SAL,Rented,104,...,0.0,1,0,0,0,0,1.0,3005535.0,4,0
7,74788849,34,M,Married,2.0,49.0,Masters,SE_PROF,Rented,108,...,1.0,1,0,0,0,0,1.0,3004790.0,3,0
8,782743811,30,M,Married,3.0,48.0,Phd,SAL,Rented,115,...,0.0,0,0,0,0,0,1.0,3007428.0,2,0
9,96964957,22,M,Single,1.0,38.0,Bachelor,SE_PROF,Rented,111,...,1.0,1,0,0,0,0,0.0,170860.0,1,1

In [57]:
## The below code creates the woe transformed dataframe
## the code takes around 15 mins/variable to complete. 
## please use the master_woe.csv to import the woe transformed dataframe if required

In [56]:
def update(x,var):
    if isinstance(x,(int)) or isinstance(x,(float)):
        count=0
        for index, row in woeVals.iterrows():
            if row['Variable'] == var and float(x) <= float(row['UpperValue']) :
                value = row['WoE']
                count=count+1
                break
            elif count>int(woeVals_analysis[var]):
                value= x
                break
            else:
                continue
    else:
        value = x
    #print(x,var,count,value)
    return value
cols=list(woeVals['Variable'].unique())
#this code will work if the main code crashes
#cols=['No of PL trades opened in last 6 months']
for column in cols:
    newcol=column + '_woe'
    print('Starting: ',column)
    Master_WOE[newcol]=Master_WOE[column].apply(lambda x:update(x,column))
    # drop original column
    Master_WOE.drop([column],axis=1,inplace=True)
    #checkpoint save
    Master_WOE.to_csv('Master_woe.csv')
    print('Completed: ',column)

Starting:  No of PL trades opened in last 6 months
Completed:  No of PL trades opened in last 6 months

In [59]:
Master_WOE.head()
## if you don't want to execute the above code, please use the below code to import the values from saved CSV
#woedf=pd.read_csv("Master_woe.csv")

,Application ID,Performance Tag,Age_woe,Gender_woe,Marital Status (at the time of application)_woe,No of dependents_woe,Income_woe,Education_woe,Profession _woe,Type of residence_woe,...,No of trades opened in last 6 months_woe,No of trades opened in last 12 months_woe,No of PL trades opened in last 12 months_woe,No of Inquiries in last 6 months (excluding home & auto loans)_woe,No of Inquiries in last 12 months (excluding home & auto loans)_woe,Presence of open home loan_woe,Outstanding Balance_woe,Total No of Trades_woe,Presence of open auto loan_woe,No of PL trades opened in last 6 months_woe
0,954457215,0.0,0.032799,F,Married,-0.084416,-0.273397,Bachelor,SAL,Rented,...,-0.543864,-0.813591,-0.687486,-0.320271,-0.830007,-0.234810,-0.842022,-0.446363,0.011876,-0.650056
1,432830445,0.0,-0.012478,M,Married,-0.024572,-0.385864,Professional,SE_PROF,Rented,...,-0.543864,-0.813591,-0.687486,-0.320271,-0.830007,0.071189,-0.752121,-0.048735,0.011876,-0.650056
2,941387308,0.0,0.030155,M,Single,-0.084416,-0.169771,Bachelor,SE_PROF,Rented,...,-0.543864,-0.898561,-0.687486,-0.320271,-0.830007,-0.234810,-0.842022,-0.880220,0.011876,-0.650056
3,392161677,0.0,-0.043824,M,Married,0.040683,-0.385864,Bachelor,SE,Rented,...,-0.543864,-0.898561,-0.687486,-0.320271,-0.830007,-0.234810,0.297870,-0.446363,-0.137111,-0.650056
4,182011211,0.0,0.030155,F,Married,0.000792,-0.169771,Professional,SAL,Rented,...,-0.543864,-0.898561,-0.687486,-0.320271,-0.830007,-0.234810,-0.842022,-0.446363,0.011876,-0.650056